body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.header-left {
  position: relative;
  left: 0;
  top: 0;
  width: 40%;
  z-index: 1;
  background-color: #ffd9de;
  background-image: linear-gradient(315deg, #ffd9de 0%, #e99ba6 74%);
  overflow: auto;
  height: 550px;
}

.header-left__logo {
  width: 90%;
}

.header-left__img {
  text-align: center;
}

.header-left__decr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 34px;
  font-size: 18px;
  font-weight: 400;
  color: #fffff;
  font-weight: bold;
  opacity: 0.3;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 37px;
  text-align: right;
}

.header-nav__link {
  color: #000000;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 69px;
  font-size: 16px;
  text-decoration: none;
  color: #ff1693;
}

.header-nav__link::after {
  content: '';
  display: block;
  position: absolute;
  border-bottom: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #c53063), to(rgba(255, 255, 255, 0.36)));
  background-image: linear-gradient(#c53063 3%, rgba(255, 255, 255, 0.36) 100%);
  opacity: 0.4;
  right: 0;
  left: 0;
  height: 1px;
  background-color: white;
}

.header-nav ul {
  list-style: none;
}

.header-right {
  position: relative;
  right: 0;
  top: 0;
  width: 60%;
  overflow: auto;
}

.header-right__main {
  width: 100%;
  height: 550px;
}

.main {
  overflow: hidden;
  margin-top: -2rem;
  padding: 0;
  width: 100%;
}

.main-blocks {
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-decr__wrapper {
  font-weight: 300;
  min-width: 50px;
  background-color: #cf4fef;
}

.main-decr {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin-top: 250px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 22px;
  font-weight: 300;
  line-height: 1px;
  margin-left: -5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-img {
  width: 100%;
  background-size: cover;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-left {
  width: 50%;
  position: relative;
  left: 0;
  top: 0;
  width: 50%;
}

.footer-left__img {
  width: 100%;
}

.footer-right {
  width: 50%;
  position: relative;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
}

.footer-right__title {
  margin-top: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  color: #c53063;
  margin-bottom: 34px;
}

.footer-right__decr {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
}

.footer-right__btn {
  padding: 18px 70px;
  border-radius: 27px;
  border: 0;
  background-color: #ef4e89;
  -webkit-box-shadow: 0 3px 0 rgba(197, 48, 99, 0.88);
          box-shadow: 0 3px 0 rgba(197, 48, 99, 0.88);
  font-size: 22px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-right__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 16px;
}

.footer-right__blocks1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  margin-left: 46px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-right__descr {
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
}

.footer-right__img {
  height: 49px;
  margin-left: 46px;
}
/*# sourceMappingURL=main.css.map */